<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Martin Holzhauer"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://martin.holzhauer.eu/feed.xml" />
    <title>{{ page.title }}</title>
</head>
<body>

<div id="content">
    <section>
        {{ content }}
    </section>


    <footer>
        &copy; Martin Holzhauer 2009-2018
    </footer>
</div>

<aside>
    <header>
        <h1><a href="/">HolzBlog</a></h1>
    </header>
    <nav class="mainmenu">
        <ul>
            <li><a href="/"><i class="icon-home"></i> Home</a></li>
            <li><a href="/about.html"><i class="icon-male"></i> About</a></li>
        </ul>
    </nav>
    <nav class="social">
        <ul>
            <li><a title="my github profile" href="http://github.com/woodworker"><i class="icon-github"></i> @woodworker</a></li>
            <li><a title="my twitter profile" href="http://twitter.com/woodworker"><i class="icon-twitter"></i> @woodworker</a></li>
            <li><a rel="me" title="my mastodon profile" href="https://indieweb.social/@woodworker"><i class="icon-user"></i> @woodworker@indieweb.social</a></li>
        </ul>
    </nav>
    <nav class="projects">
        <h4>Projects</h4>
        <ul>
            <li><a href="http://p2ee.github.io/"><i class="icon-github"></i> P2EE</a></li>
            <li><a href="http://www.gotham-mesh.de">Gotham-Mesh.de</a></li>
        </ul>
    </nav>
</aside>

</body>
</html>
